* {
	--text-colour: #fff;
	--background-colour: #2d2e31;
	--popover-colour: #2d2e31;  /*363739*/
	--input: #202124;
  --focus: #5887f1;

	--item-hover-bg: #3d4043;
	--item-select-bg: #94b5f6;
	--item-hover-select-bg: #9abbfd;


	--link-colour: #cecece;

	--detail-colour: #999999;

	--field-radius: 8px;
	--serperator: rgba(0, 0, 0, 0);
	--folder-padding: 12px;
	--popover-shadow: rgba(0, 0, 0, 0.27) 0px 2px 25px; /*rgba(0, 0, 0, .15) 0px 1px 4px */
}

::-webkit-scrollbar {
  display: none;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 40px;
  background-color: var(--input);
  -webkit-border-radius: 6px;
}

em {
  color: var(--focus);
  font-weight: 700;
}
.focus em {
  color: var(--background-colour);
}

.add-folder {
  color: var(--item-select-bg);
}

#name-preview {
  background-color: var(--input);
  color: var(--text-colour);
  margin: 0;
  margin-top: 7px;
  padding: 6px 37px 6px 10px;
  border-radius: var(--field-radius);
  cursor: text;
}

#name-preview > span.omitted {
  color: var(--detail-colour);
}

.wrapper-fade {
  position: absolute;
  left: 0%;
  right: 0%;
  height: 10px;
  pointer-events: none;
  opacity: 75%;
}

.wrapper-fade.top {
  top: 0%;
  background-image: linear-gradient(to bottom, var(--background-colour), rgba(255,0,0,0));
}

.wrapper-fade.bottom {
  bottom: 0%;
  background-image: linear-gradient(to top, var(--background-colour), rgba(255,0,0,0));
}

#container {
  position: relative;
}

#search {
  margin-top: 7px;
}

body {
  color: var(--text-colour);
  background-color: var(--background-colour);
}

input {
  display: block;
  width: 100%;
  padding: 10px 37px 10px 10px;
  border: 0px;
  border-radius: var(--field-radius);
  height: 28px;
  /*outline-offset: -2px;*/
  background-color: var(--input);
  color: var(--text-colour);
  
}

input:focus {
  outline-width: 2px;
  outline-color: var(--focus);
  outline-style: solid;
}

span.folder {
  /*font-family: "Lucida Grande", Tahoma, sans-serif;*/
  font-size: 14px;
  color: var(--text-colour);
  display: block;
  white-space: nowrap;
  padding: 5px 10px;
  cursor: pointer;
  /* -webkit-transition: background 0.1s ease-out; */
}

span.folder:hover + span.folder:not(.create), .focus + span.folder:not(.create) {
  border-top-color: transparent;
}

span.folder:hover {
  background: var(--item-hover-bg);
}

span.folder.focus {
  background: var(--item-select-bg);
  color: var(--background-colour);
}

span.folder.focus:hover {
  background: var(--item-hover-select-bg);
  color: var(--background-colour);
}

span.folder:first-child {
  border-top-color: transparent;
}

#wrapper {
  padding-top: 10px;
  display: block;
  padding-right: 4px;
  overflow-y: auto;
  height: 350px;
}

#searchimg {
  position: absolute;
  right: 7px;
  top: 4px;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

.container {
  width: 380px;
}

#searchbar {
  /* margin-bottom: 14px; */
  z-index: 9999;
  position: relative;
}