* {
	--text-colour: #fff;
	--background-colour: #2d2e31;
	--popover-colour: #2d2e31;  /*363739*/
	--input: #26272a;

	--item-hover-bg: #3d4043;
	--item-select-bg: #94b5f6;
	--item-hover-select-bg: #9abbfd;


	--link-colour: #cecece;
	--link-hover-colour: #9abbfd;

	--detail-colour: #999999;

	--field-radius: 8px;
	--serperator: rgba(0, 0, 0, 0);
	--folder-padding: 12px;
	--popover-shadow: rgba(0, 0, 0, 0.27) 0px 2px 25px; /*rgba(0, 0, 0, .15) 0px 1px 4px */

	--color-main: orange;
}

::-webkit-scrollbar {
  display: none;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 40px;
  background-color: var(--input);
  -webkit-border-radius: 6px;
}

body {
  color: var(--text-colour);
  background-color: var(--background-colour);
}

#search{
  display: block;
  width: 100%;
  padding: 10px 37px 10px 10px;
  border: 0px;
  border-radius: var(--field-radius);
  height: 28px;
  /*outline-offset: -2px;*/
  background-color: var(--input);
  color: var(--text-colour);
  
}

#search:focus {
  outline-width: 2px;
  outline-color: var(--item-select-bg);
  outline-style: solid;
}

span {
  /*font-family: "Lucida Grande", Tahoma, sans-serif;*/
  font-size: 14px;
  color: var(--text-colour);
  display: block;
  white-space: nowrap;
  padding: 5px 10px;
  cursor: pointer;
  /* -webkit-transition: background 0.1s ease-out; */
}

span:hover + span:not(.create), .focus + span:not(.create) {
  border-top-color: transparent;
}

span:hover {
  background: var(--item-hover-bg);
}

.focus {
  background: var(--item-select-bg);
  color: var(--background-colour);
}

span.focus:hover {
  background: var(--item-hover-select-bg);
  color: var(--background-colour);
}

span:first-child {
  border-top-color: transparent;
}

.create {
  margin-top: 10px;
  /* border-top: 1px solid var; */
  white-space: normal;
}

#wrapper {
  display: block;
  height: 350px;
  overflow-y: auto;
  padding-right: 4px;
}

#searchimg {
  position: absolute;
  right: 7px;
  top: 4px;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

.container {
  width: 380px;
}

#searchbar {
  margin-bottom: 14px;
  position: relative;
}